*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.odt
*.bbl
*.blg
*.synctex.gz
*.run.xml
*.bcf
__pycache__/
_minted-*/
robustExternalize/
*-robExt-all-figures.txt
*-robExt-compile-missing-figures.sh
*-robExt-tmp-file-you-can-remove.tmp
robExt-prepare-for-arxiv.py
robExt-remove-old-figures.py
.~lock.*.ods#